{% block tab1 %}

    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="tab6content1">
            Application
        </a>

        <a class="item" data-tab="tab6content2">
            Accepted
        </a>

        <a class="item" data-tab="tab6content3">
            Rejected
        </a>
    </div>

    <div class="ui active tab" data-tab="tab6content1">
        <div class="ui vertical segment">
            {% block tab6content1 %}
                {% include 'officeModule/directorOffice/purchaseOfficeSection_content1.html' %}
            {% endblock %}
        </div>
    </div>

    <div class="ui tab" data-tab="tab6content2">
        <div class="ui vertical segment">
            {% block tab6content2 %}
                {% include 'officeModule/directorOffice/purchaseOfficeSection_content2.html' %}
            {% endblock %}
        </div>
    </div>

    <div class="ui tab" data-tab="tab6content3">
        <div class="ui vertical segment">
            {% block tab6content3 %}
                {% include 'officeModule/directorOffice/purchaseOfficeSection_content3.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock tab1%}

{% block javascript %}


    <script type="text/javascript">
        $(document).ready(function(){
             $.ajax({
                type: 'POST',
                url: '/office/directorOffice/Pp',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(response){
                    console.log(response)
                    //$('#HOD_info').children('ol').html('')
                    $('#HOD_info table tbody ol').html('')
                    $('#HOD_list').append('<li> <h5>HOD (CSE) </h5>&nbsp;&nbsp -- &nbsp;' + response.csehod[0] + '</li><li> <h5>HOD (ECE) </h5>&nbsp;&nbsp -- &nbsp;' + response.ecehod[0] + '</li><li> <h5>HOD (ME) </h5>&nbsp;&nbsp -- &nbsp;'+ response.mehod[0] + '</li><li> <h5>HOD (NS) </h5>&nbsp;&nbsp -- &nbsp;'+ response.nshod[0] + '</li><li> <h5>HOD (DESIGN) </h5>&nbsp;&nbsp -- &nbsp;'+ response.deshod[0] + '</li>');
       
                },
                error: function(rs, e){
                console.log('error');
                },
            });
        });
        })
    </script>
{% endblock javascript %}